.home { 
	padding-top: 70px; 
}

.race-img {
	background-image: url("images/startLine.jpg");
	background-size: cover;
}

.tech-img {
	background-image: url("images/chalkboard.jpg");
	background-size: cover;
}

.jumbotron {
	margin-top: -14px;
}

.primary-content {
	margin-top: 8em;
	padding-bottom: 3em;
}

.footer { 
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.primary-content {
	margin-bottom: 4em;
}

.radioStation {
	padding-bottom: 3em;
}